<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- base -->
      <meta charset="utf-8">
	   <!-- site metas -->
      <title>Ticket Love</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="Michele Longo">
	  <!-- stile css -->
	   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	   
	  </head>
   <!-- body -->
   <body class="main-layout">
      <!-- header -->

	  <div th:insert="~{admin/header :: headeradmin}"></div>

	  <div th:if="${messaggio}">
		  <p th:text="${messaggio}" style="color: green; font-size: 20px; margin-bottom: 30px; margin-top: 20px; font-weight: bold; margin-left: 30px;"></p>
	  </div>
	  <div th:if="${messaggiored}">
		  <p th:text="${messaggiored}" style="color: darkred; font-size: 20px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
	  </div>


	  <h2 class="tuttcategfaq" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
		Domande e Risposte Frequenti
		<span class="line"></span>
		</h2>


	  <div class="faq" th:each="faqs: ${tuttelefaq}">
	  <button class="accordion" th:text="${faqs.domanda}" >Nessuna Domanda</button>
	  <div class="panel">
		  <p class="pfooter" th:text="${faqs.risposta}">Nessuna Risposta</p>
	  </div>
		  <div class="azioni">
			  <form th:action="@{/admin/modificafaq}" method="get">
				  <input type="hidden" name="id" th:value="${faqs.idfaq}" />
				  <div class="pulsanti-container">
					  <button type="submit" class="modificabottone">Modifica</button>
					  <button type="button" class="cancellabottone" data-toggle="modal" th:data-target="'#confermaModal' + ${faqs.idfaq}">
						  Cancella
					  </button>

				  </div>

			  </form>
			  <!-- Finestra modale di conferma cancellazione -->
			  <div class="modal fade" th:id="'confermaModal' + ${faqs.idfaq}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					  <div class="modal-content">
						  <div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel">Conferma Cancellazione</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
							  </button>
						  </div>
						  <div class="modal-body">
							  <p>Sei sicuro di voler cancellare la faq selezionata? </p>
						  </div>
						  <div class="modal-footer" >
							  <!-- Pulsante di conferma all'interno della finestra modale -->
							  <form th:action="@{/admin/cancellafaq}" method="post">
								  <input type="hidden" id="idfaq" name="idfaq" th:value="${faqs.idfaq}" />
								  <button type="submit" class="btn btn-danger btn-block">Conferma</button>
								  <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annulla</button>
							  </form>


						  </div>
					  </div>
				  </div>
			  </div>



		  </div>
	  </div>

	  <script>
		  var acc = document.getElementsByClassName("accordion");
		  var i;

		  for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
				  this.classList.toggle("active");
				  var panel = this.nextElementSibling;
				  if (panel.style.maxHeight) {
					  panel.style.maxHeight = null;
				  } else {
					  panel.style.maxHeight = panel.scrollHeight + "px";
				  }
			  });
		  }
	  </script>

	  <a th:href="@{/admin/addfaq}">

		  <button type="button" class="pulsanteaddfaq">Aggiungi Faq</button>

	  </a>



	  <div th:insert="~{footer :: foot}"></div>

	  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>