<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headeradmin">


    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <a th:href="@{/admin/index}"><img th:src="@{/images/logo.png}" alt="#" />
            </a>
        </div>
        <div class="search-box">
            <form>
                <input type ="text" name ="search" id ="srch" placeholder="Cerca Eventi o Artisti...">
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li><a th:href="@{/public/index}">Modalità Public</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Strumenti</a>
                <div class="dropdown-content">
                    <a th:href="@{/admin/registrautente}">Aggiungi Utenti</a>
                    <a th:href="@{/admin/gestisciutenti}">Gestione Utenti</a>
                    <a th:href="@{/admin/eventi}">Gestione Eventi</a>
                    <a th:href="@{/admin/faq}">Gestione Faq</a>
                    <a th:href="@{/logout}">Log out</a>
                </div>
            </li>
        </ul>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>





</div>

</body>

</html>