<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headeradmin">


    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <a th:href="@{/admin/index}"><img th:src="@{/images/logo.png}" alt="#" />
            </a>
        </div>
        <div class="search-box">
            <form>
                <input type ="text" name ="search" id ="srch" placeholder="Cerca Eventi o Artisti...">
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li >
                <a th:href="@{/admin/eventi}">Vedi Eventi </a>
            </li>
            <li><a th:href="@{/admin/addevento}">Aggiungi Evento</a></li>
            <li><a th:href="@{/public/index}">Modalità Public</a></li>
            <li><a th:href="@{/admin/faq}">Vedi Modifica Faq</a></li>
            <li><a th:href="@{/admin/partner}">Vedi Modifica Partner</a></li>
        </ul>
        <div class="button-log">


            <button class="btnLI"  >Login</button>

            <button class="btnSU">Sign up</button>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>





</div>

</body>

</html>