<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- base -->
      <meta charset="utf-8">
	   <!-- site metas -->
      <title>Ticket Love</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="Michele Longo">
	  <!-- stile css -->
	  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	   <script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
	  </head>
   <!-- body -->
   <body class="main-layout">
      <!-- header -->

	  <div th:insert="~{admin/header :: headeradmin}"></div>







	  <h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
		  <span class="spanprimariga">Amministratore loggato: </span> <span th:text="' '+${nomeutente}"></span>
		  <span class="line"></span>
	  </h2>
	  <h3 class="tuttcateg">Informazioni amministratore:</h3>
	  <p class="rigaorg">Attraverso l'header è possibile visualizzare la lista pubblica degli eventi.</p>
	  <p class="rigaorg">Con gli strumenti amministratore è possibile visualizzare gli eventi, faq e utenti registrati.</p>
	  <p class="rigaorg">E' possibile modificare i dati degli utenti e registrarne di nuovi con ruoli organizzazione e user.</p>
	  <p class="rigaorg">Vi è la possibilità di aggiungere, modificare o cancellare le faq.</p>
	  <p class="rigaorg">E' possibile cancellare utenti registrati, anche organizzazioni ma solo se non hanno eventi in corso.</p>
	  <p class="rigaorg">Inoltre è possibile visionare l'elenco degli eventi e cancellare singoli eventi.</p>






	  <div th:insert="~{footer :: foot}"></div>

	</body>
</html>