<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- base -->
    <meta charset="utf-8">
    <!-- site metas -->
    <title>Ticket Love</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Michele Longo">
    <!-- stile css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">




</head>
<!-- body -->
<body class="main-layout">
<!-- header -->


<div th:insert="~{admin/header :: headeradmin}"></div>



<h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
    Modifica Utente:
    <span class="line"></span>
</h2>

<div th:if="${messaggio}">
    <p th:text="${messaggio}" style="color: green; font-size: 30px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
</div>
<div th:if="${messaggiored}">
    <p th:text="${messaggiored}" style="color: darkred; font-size: 30px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
</div>
<div class ="utente-scelto" th:object="${utentedamod}">
    L'utente scelto è <span th:text="*{user}"></span>
</div>

<form action="#" th:object="${utentedamod}" th:action="@{/admin/salvautentemodificato}" method="post">
    <input type="hidden" id="user" name="user" th:value="*{user}" />

    <p>Setta Password:</p>
    <input type="text" name="password" value="" id="password" placeholder="Inserisci password"
           required="required" autofocus="autofocus" th:value="*{password}"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: darkred;">Minimo 3 caratteri, massimo 20</span>

    <p>Setta Email:</p>
    <input type="text" name="mail" value="" id="mail" placeholder="Inserisci e-mail"
           required="required" autofocus="autofocus" th:value="*{mail}"/>
    <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color: darkred;">La mail deve esser formattata bene</span>

    <div class="pulsanti-container">
        <button type="submit" class="bottone-submit" name="addRow">Modifica</button>
        <a th:href="@{/admin/gestisciutenti}" class="bottone-indietro">Torna indietro</a>
    </div>



</form>




</body>
</html>