<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- base -->
	<meta charset="utf-8">
	<!-- site metas -->
	<title>Ticket Love</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="Michele Longo">
	<!-- stile css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>

	<style>
		.pulsanti-container{
			margin-top: 30px;
		}
	</style>



</head>
<!-- body -->
<body class="main-layout">
<!-- header -->

<div th:insert="~{org/header :: headerorg}"></div>





<h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
	Info Evento
	<span class="line"></span>
</h2>




<div class="container-evento">

	<table class="table-evento">

		<tr>
			<td class="image-card-singolo" >
				<img src="images/events/default.jpg" alt=""
				th:attr="src=@{'/images/events/' + ${eventoselezionato.nomeimmagine}}"></td>
			<td class = "testo-evento">
				<table>
					<tr >
						<td th:text="'Evento:                ' + ${eventoselezionato.nomeevento}" />
					</tr>
					<tr>
						<td th:text="'Luogo:                 ' + ${eventoselezionato.luogoevento}" />
					</tr>
					<tr>
						<td th:text="'Prezzo unitario:       ' + ${eventoselezionato.prezzo}" />
					</tr>
					<tr>
						<td th:text="'Biglietti Disponibili: ' + ${eventoselezionato.getBiglietirimanenti()}" />
					</tr>
					<tr>
						<td th:text="'Tipologia:             ' + ${eventoselezionato.getTipologia().tipologia}" />
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" th:text="${eventoselezionato.descbrv}" >Descrizione dell'evento:</td>
		</tr>
		<tr>
			<td colspan="2" th:text="${eventoselezionato.desclong}" >Descrizione dettagliata:</td>
		</tr>
		<td class="azioni-buttons">
			<form th:action="@{/org/modificaevento}" method="get">
				<input type="hidden" name="id" th:value="${eventoselezionato.id}" />
				<div class="pulsanti-container">
					<button type="submit" class="modifica">Modifica</button>
					<button type="button" class="cancella" data-toggle="modal" th:data-target="'#confermaModal' + ${eventoselezionato.id}">
						Cancella
					</button>
					<a th:href="@{/org/eventi}" class="bottone-indietro">Indietro</a>
				</div>
			</form>
			<div class="modal fade" th:id="'confermaModal' + ${eventoselezionato.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Conferma Cancellazione</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Sei sicuro di voler cancellare l'evento: <strong th:text="${eventoselezionato.nomeevento}" /> ?</p>
						</div>
						<div class="modal-footer" >
							<!-- Pulsante di conferma all'interno della finestra modale -->
							<form th:action="@{/org/cancellaevento}" method="post">
								<input type="hidden" name="id" th:value="${eventoselezionato.getId()}" />
								<button type="submit" class="btn btn-danger btn-block">Conferma</button>
								<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annulla</button>
							</form>


						</div>
					</div>
				</div>
			</div>

	</table>


</div>
















<div th:insert="~{footer :: foot}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

</body>
</html>