<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- base -->
      <meta charset="utf-8">
	   <!-- site metas -->
      <title>Ticket Love</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="Michele Longo">
	  <!-- stile css -->
	   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">




	  </head>
   <!-- body -->
   <body class="main-layout">
      <!-- header -->

	  <div th:insert="~{org/header :: headerorg}"></div>





	  <h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
		  <span class="spanprimariga">Eventi utente: </span> <span th:text="' '+${nomeutente}"></span>
		  <span class="line"></span>
	  </h2>

	  <div class="container">

		  <h3>Info sugli eventi</h3>

		  <hr/>
		  <div th:if="${messaggio}">
			  <p th:text="${messaggio}" style="color: darkred; font-size: 15px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
		  </div>

		  <div th:if="${messaggiosucc}">
			  <p th:text="${messaggiosucc}" style="color: green; font-size: 30px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
		  </div>
		  <div th:if="${messaggiored}">
			  <p th:text="${messaggiored}" style="color: darkred; font-size: 30px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
		  </div>

		  <table class="table table-bordered table-striped">

			  <thead>
			  <tr>
				  <th></th>
				  <th>Nome Evento</th>
				  <th>Biglietti Massimi</th>
				  <th>Biglietti rimanenti</th>
				  <th class="azioni-buttons">Azioni</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr th:each="eventi: ${tuttieventi}">

				  <td class="image-card" >

					  <img src="/images/events/default.jpg" alt="" th:attr="src=${'/images/events/' + eventi.nomeimmagine}">

				  </td>
				  <td th:text="${eventi.nomeevento}"></td>
				  <td th:text="${eventi.getBigliettimax()}"></td>
				  <td th:text="${eventi.getBiglietirimanenti()}"></td>
				  <td class="azioni-buttons">
					  <form th:action="@{/org/modificaevento}" method="get">
						  <input type="hidden" name="id" th:value="${eventi.id}" />
					  <div class="pulsanti-container">
						 	 <button type="submit" class="modifica">Modifica</button>
						  	 <button type="button" class="cancella" data-toggle="modal" th:data-target="'#confermaModal' + ${eventi.id}">
							  Cancella
						  	 </button>

					  </div>
					  </form>
					  <div class="modal fade" th:id="'confermaModal' + ${eventi.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
							  <div class="modal-content">
								  <div class="modal-header">
									  <h5 class="modal-title" id="exampleModalLabel">Conferma Cancellazione</h5>
									  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
									  </button>
								  </div>
								  <div class="modal-body">
									  <p>Sei sicuro di voler cancellare l'evento: <strong th:text="${eventi.nomeevento}" /> ?</p>
								  </div>
								  <div class="modal-footer" >
									  <!-- Pulsante di conferma all'interno della finestra modale -->
									  <form th:action="@{/org/cancellaevento}" method="post">
										  <input type="hidden" name="id" th:value="${eventi.getId()}" />
										  <button type="submit" class="btn btn-danger btn-block">Conferma</button>
										  <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annulla</button>
									  </form>


								  </div>
							  </div>
						  </div>
					  </div>

			  </tr>
			  </tbody>

		  </table>
	  </div>



	  <div th:insert="~{footer :: foot}"></div>

	  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>