<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- base -->
      <meta charset="utf-8">
	   <!-- site metas -->
      <title>Ticket Love</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="Michele Longo">
	  <!-- stile css -->
	  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	   <script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
	   <script src="https://kit.fontawesome.com/15fa55a250.js" crossorigin="anonymous"></script>
	  </head>
   <!-- body -->
   <body>
      <!-- header -->

	  <div th:insert="~{org/header :: headerorg}"></div>

	<div th:if="${messaggio}">
		<p th:text="${messaggio}" style="color: darkred; font-size: 15px; margin-left: 30px; margin-top: 20px; font-weight: bold;"></p>
	</div>





	  <h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
		  <span class="spanprimariga">Utente loggato: </span> <span th:text="' '+${nomeutente}"></span>
		<span class="line"></span>
		</h2>
		<h3 class="tuttcateg">Informazioni generali:</h3>
		<p class="rigaorg">Attraverso l'header è possibile visualizzare la lista pubblica degli eventi.</p>
		<p class="rigaorg">La sezione faq è dedicata a rispondere alle domande poste più di frequente</p>
		<p class="rigaorg">Se invece si ha bisogno di aggiungere eventi o gestire i propri eventi si può accedere alla sezione strumenti</p>






	  <div th:insert="~{footer :: foot}"></div>

	  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
	</body>
</html>