<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- base -->
      <meta charset="utf-8">
	   <!-- site metas -->
      <title>Ticket Love</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="Michele Longo">
	  <!-- stile css -->
	   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">




	  </head>
   <!-- body -->
   <body class="main-layout">
      <!-- header -->


	  <div th:insert="~{org/header :: headerorg}"></div>



	  <h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
		Aggiungi Evento
		<span class="line"></span>
	  </h2>
	  <div class="container">

		  <div th:if="${messaggio}">
		  		<p th:text="${messaggio}" style="color: green;"></p>
		  </div>

		  <div th:if="${validationErrors}">
			  	<p th:text="${validationErrors}" style="color: darkred;"></p>
		  </div>


		  <form action="#" th:object="${eventoscelto}" th:action="@{/org/salvaeventomodificato}" method="post">

			  <label>Tipologia:</label>
			  <select th:field="*{tipologia.idtipologia}">
				  <option th:each="tipo : ${tipologie}" th:value="${tipo.idtipologia}" th:text="${tipo.tipologia}"
				  		  th:selected="${tipo.idtipologia eq eventoscelto.tipologia.idtipologia}"></option>
			  </select>




			  <p>Nome Evento:</p>
			  <input type="text" name="nomeevento" value="" id="nomeevento" placeholder="Nome dell'evento"
					 required="required" autofocus="autofocus" th:value="*{nomeevento}"/>
			  <span th:if="${#fields.hasErrors('nomeevento')}" th:errors="*{nomeevento}" style="color: darkred;">Non può essere Nullo</span>

			  <p>Descrizione breve dell'evento:</p>
			  <input type="text" name="descbrv" value="" id="descbrv" placeholder="Concerto in do minore..."
					 required="required" autofocus="autofocus" th:value="*{descbrv}"/>


			  <p>Descrizione accurata dell'evento:</p>
			  <input type="text" name="desclong" value="" id="desclong" placeholder="Concerto in do minore..."
					 required="required" autofocus="autofocus" th:value="*{desclong}"/>

			  <p>Luogo evento:</p>
			  <input type="text" name="luogoevento" value="" id="luogoevento" placeholder="Concerto in do minore..."
					 required="required" autofocus="autofocus" th:value="*{luogoevento}"/>

			  <p>Nome immagine:</p>
			  <input type="text" name="nomeimmagine" value="" id="nomeimmagine" placeholder="Caparezza.jpg"
					 required="required" autofocus="autofocus" th:value="*{nomeimmagine}"/>

			  <p>Prezzo biglietto:</p>
			  <input type="number" name="prezzo" id="prezzo" placeholder="Inserisci un prezzo tra 2 e 250"
					 required="required" step="any"  th:field="*{prezzo}"/>
			  <span th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}" style="color: darkred;">Prezzo minimo 0.5</span>

			  <p>Biglietti Disponibili per l'evento:</p>
			  <input type="number" name="bigliettimax" value="" id="bigliettimax" placeholder="150"
					 required="required" autofocus="autofocus" th:value="*{bigliettimax}"/>
			  <span th:if="${#fields.hasErrors('bigliettimax')}" th:errors="*{bigliettimax}" style="color: darkred;">Inserire numero valido maggiore di 2</span>





			  <button type="submit" name="addRow" >Aggiungi Evento</button>
			  <button type="reset" >Resetta</button>
		  </form>



	  </div>

	  <script
			  src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

	  <script>
		  /*<![CDATA[*/
		  window.jQuery
		  || document
				  .write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')
		  /*]]>*/
	  </script>


	  <div th:insert="~{footer :: foot}"></div>


	</body>
</html>