<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headerpub">


    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <a th:href="@{/public/index}"><img th:src="@{/images/logo.png}" alt="#" />
            </a>
        </div>
        <div class="search-box">
            <form>
                <input type ="text" name ="search" id ="srch" placeholder="Cerca Eventi o Artisti...">
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li >
                <a th:href="@{/public/eventi}">Eventi Public </a>
            </li>
            <li><a th:href="@{/index}">Torna Home Vecchia</a></li>
            <li><a th:href="@{/public/faq}">Faq</a></li>
            <li><a th:href="@{/admin/index}">Vista Admin</a></li>
        </ul>
        <div class="button-log">

            <!-- ----------------Form Log in testing Modal------------------------------------------------------------------->
            <!-- Button to open the modal login form -->
            <button class="btnLI"  >Login</button>



            <!-- The Modal -->


            <a th:href="@{/public/registrati}">
                <button class="btnSU"  >Sign up</button>
            </a>

        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>





</div>

</body>

</html>