<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- base -->
	<meta charset="utf-8">
	<!-- site metas -->
	<title>Ticket Love</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="Michele Longo">
	<!-- stile css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<!-- body -->
<body class="main-layout">
<!-- header -->

<div th:insert="~{user/header :: headeruser}"></div>





<h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
	Info Evento
	<span class="line"></span>
</h2>
<div th:if="${messaggio}">
	<p th:text="${messaggio}" style="color: green; margin-left: 40px; margin-top: 20px; font-size: 20px; margin-bottom: 20px;"></p>
</div>
<div th:if="${messaggiored}">
	<p th:text="${messaggiored}" style="color: darkred; margin-left: 40px; margin-top: 20px; font-size: 20px; margin-bottom: 20px;"></p>
</div>


<div class="container-evento">

	<table class="table-evento">

		<tr>
			<td class="image-card-singolo" >
				<img src="/images/events/default.jpg" alt=""
				th:attr="src=@{'/images/events/' + ${eventoselezionato.nomeimmagine}}"></td>
			<td class = "testo-evento">
				<table>
					<tr >
						<td th:text="'Evento:                ' + ${eventoselezionato.nomeevento}" />
					</tr>
					<tr>
						<td th:text="'Luogo:                 ' + ${eventoselezionato.luogoevento}" />
					</tr>
					<tr>
						<td th:text="'Prezzo unitario:       ' + ${eventoselezionato.prezzo}" />
					</tr>
					<tr>
						<td th:text="'Biglietti Disponibili: ' + ${eventoselezionato.getBiglietirimanenti()}" />
					</tr>
					<tr>
						<td class="acquista-btn">
							<button class="btn-acquista" data-toggle="modal" th:data-target="'#confermaModal' + ${eventoselezionato.id}" >Acquista</button>
						</td>
						<div class="modal fade" th:id="'confermaModal' + ${eventoselezionato.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel" style="margin-top: 5px;">Conferma acquisto Evento <span th:text="${eventoselezionato.nomeevento}"></span></h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Biglietti acquistabili: <span th:text="${eventoselezionato.getBiglietirimanenti()}"></span></p>
									</div>
									<div class="modal-footer" >
										<div th:switch="${autorita}">
											<div th:case="'admin'">
												<div class="row mx-auto">
												</div>
											</div>
											<div th:case="'org'">
											</div>
											<div th:case="'user'">

												<form th:action="@{/user/acquistoevento}" th:object="${ordineevento}" method="post">
													<div class="bigliettiinserimeto" style="margin-left: 230px; margin-bottom: 20px; margin-top: 20px;">
														<input type="number" name="biglietti" th:value="${ordineevento.biglietti}" />
													</div>

													<input type="hidden" name="eventId" th:value="${eventoselezionato.id}" />
													<button type="submit" class="btn btn-danger btn-block">Conferma</button>
													<button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Annulla</button>
												</form>
											</div>

											<div th:case="*">
												<a th:href="@{/login}">
													<button type="button" class="btn btn-block">Log In</button>
												</a>
												<a th:href="@{/public/registrati}">
													<button type="button" class="btn btn-danger btn-blockdue">Registrati</button>
												</a>
											</div>
										</div>



									</div>
								</div>
							</div>
						</div>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" th:text="${eventoselezionato.descbrv}" >Descrizione dell'evento:</td>
		</tr>
		<tr>
			<td colspan="2" th:text="${eventoselezionato.desclong}" >Descrizione dettagliata:</td>
		</tr>


	</table>


</div>
















<div th:insert="~{footer :: foot}"></div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>