<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headeruser">


    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <a th:href="@{/user/index}"><img th:src="@{/images/logo.png}" alt="#" />
            </a>
        </div>
        <div class="search-box">
            <form th:action="@{/user/cerca}" method="get">
                <input type ="text" name ="search" id ="search" placeholder="Cerca Eventi..." value="" >
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li >
                <a th:href="@{/user/eventi}">Eventi</a>
            </li>
            <li><a th:href="@{/user/faq}">Faq</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">
                    Profilo <span th:text="${#strings.length(nomeutente) &gt; 5 ? #strings.substring(nomeutente, 0, 5) + '...' : nomeutente}">User</span>
                </a>
                <div class="dropdown-content">
                    <a th:href="@{/user/profilo}">Dati Utente</a>
                    <a th:href="@{/user/ordini}">Ordini</a>
                    <a th:href="@{/logout}">Log out</a>
                </div>
            </li>
        </ul>
        <div>

        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>
</div>

</body>

</html>