*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(255, 255, 255, 0.5);
  /*  background-color: #00aeefe3;*/
    background:linear-gradient(90deg, white 15%, #1cb4ebe3 50%); 
}
#chk1{
    display: none;
}
i{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
header .logo{
    flex: 1;
    margin-left: 5px;
    width: 100%;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top: 8px;
    right: -1px;
    transform: scale(0.9);
    background: rgb(0, 0, 0);
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #000;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}
/*Bottoni di sign up */
.button-log{
    outline: none;
    border: none;
    /* Usa justify-content per spostare gli elementi verso destra */
    justify-content: flex-end;
    /* Aggiungi un margine a sinistra per allineare gli elementi alla destra */
    margin-left: auto;
    display: flex;
    margin-right: 5px;
}
.btnSU{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    color: black;
    background-color: hsl(252, 75%, 50%);
    transition: all 300ms ease;


}
.btnSU:hover {
    background-color: green;
}
.btnLI{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    color: rgb(0, 0, 50);;
    cursor: pointer;
    font-weight: 600;
}
.btnLI:hover{
    color: white;
    background-color: rgba(0,0,50);
}
.btnLIf{
    display: inline-block;
    padding: 0.6rem 2rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    color: black;
    cursor: pointer;
    font-weight: 600;
}
.btnLIf:hover{
    background-color: #1da1f2;
}
/*------------------------------------- Image Card ----------------------------------*/
/*
body{
    min-height: 100vh;
    background-color: #596275;
    display: flex;
    
    
}
*/
.images-container{
    margin-top: 50px;
    margin-bottom: 25px;
	display: flex;
	/*margin-left: auto;
	margin-right: auto;
	width: 50%;*/
    align-items: center;
    justify-content: center;
}

.image-card{
    width: 280px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: -6px 6px 20px #00000070;
    transition: .3s linear;
}

.image-card img{
    width: 100%;
	height: 100%;
}

.image-card:not(:first-child){
    margin-left: -50px;
}

.image-card:hover{
    transform: translateY(-24px);
}

.image-card:hover ~ .image-card{
    transform: translateX(60px);
}
/*--------------------------------------Evento Singolo----------------------------------*/
.image-card-singolo{
    width: 40%;
    height: 600px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: -6px 6px 20px #00000070;
    transition: .3s linear;
    margin-left: 5%;
}

.image-card-singolo img{
    width: 100%;
    height: 100%;
}

.image-card-singolo:not(:first-child){
    margin-left: -50px;
}
.table-evento{
    width: 60%;
    margin: 0 auto;
}
.testo-evento{
    width: 50%;
    padding-left:50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column; /* Visualizza i dati dell'evento in una colonna */
    align-items: flex-start; /* Allinea il testo a sinistra */
    margin-top: 20px;
}
.testo-evento table {
    width: 100%;
}
.testo-evento table tr td{

    margin-bottom: 10px; /* Aggiunto margine inferiore tra le righe della tabella */
    font-size: 16px;
    font-weight: bold;
}
.table-evento tr td[colspan="2"] {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px; /* Aggiungi spazio sopra la descrizione dettagliata */
}
.acquista-btn {
    text-align: center;
    padding-top: 20px;
}

.btn-acquista {
    margin-top: 15px;
    background-color: #1da1f2; /* Colore di sfondo verde, puoi cambiarlo a tuo piacimento */
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}

.btn-acquista:hover {
    background-color: #0d87c4; /* Cambia il colore al passaggio del mouse */
}
/* ------------------------------------ Social Media -------------------------------*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*Form Log in da W3School --------------------*/
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  } 
/*----------------------------------------------css per impreziosire la form di log in -----------------*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
  /* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
}
/*----------------------------------Fine abbellimenti form log in--------------------------------------*/
.tuttcateg{
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 15px;
    margin-left: 25px;
}
.line{
    flex: 1 1 auto;
    height: 1ex;
    background-color: grey;
    opacity: .1;
    margin-left: 15px;
    margin-right: 100px;
}
/*---------------------------------------faq-------------------------------------------*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {

    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.faq{

    margin-left: 15%;
    max-width: 60%;

}
.panel {

    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.tuttcategfaq{
    margin-bottom: 50px;
    display: flex;
    align-items: baseline;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 15px;
    margin-left: 25px;
}
.pfooter{
    margin-bottom: 8px;
    margin-top: 10px;
}
.container-evento{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.testoerrore{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Stile generale del bottone */
.btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: 2px solid #d9534f; /* Aumentato lo spessore del bordo */
    padding: 8px 16px; /* Aumentato il padding */
}

/* Quando il mouse è sopra il bottone */
.btn-danger:hover,
.btn-danger:focus {
    background-color: #c9302c;
    border: 1px solid #c9302c;
    color: #fff;
    cursor: pointer;
}
.modal-footer .btn {
    width: 150px; /* Imposta la larghezza desiderata */
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;

}
/* Stile per il bottone di conferma nella finestra modale */
.modal-footer .btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: 2px solid #d9534f; /* Aumentato lo spessore del bordo */
    padding: 8px 16px; /* Aumentato il padding */
    margin-left: 135px;
}

/* Quando il mouse è sopra il bottone di conferma nella finestra modale */
.modal-footer .btn-danger:hover,
.modal-footer .btn-danger:focus {
    background-color: #c9302c;
    border: 2px solid #c9302c;
    color: #fff;
}
/* CSS per il bottone Annulla */
.btn-secondary {
    background-color: #7dc92c; /* Colore di sfondo del bottone */
    color: #ffffff; /* Colore del testo del bottone */
    border: 1px solid #8ac92c; /* Bordo del bottone */
}

/* Quando il cursore è sopra il bottone Annulla */
.btn-secondary:hover {
    background-color: #00a603;
    border: 1px solid #039d06;
    color: #ffffff;
}
.modal-dialog {
    max-width: 600px; /* Imposta la larghezza massima desiderata */
    width: 80%; /* Puoi anche utilizzare percentuali per una larghezza proporzionale */
    margin: 10% auto; /* Centra la finestra modale verticalmente e orizzontalmente */
}

/* Imposta la larghezza del contenuto della finestra modale se necessario */
.modal-content {
    width: 100%;
    overflow-y: auto;
}
.modal-title {
    font-size: 24px; /* Imposta la dimensione del carattere */
    color: #333; /* Imposta il colore del testo */
    font-weight: bold; /* Imposta lo spessore del testo a grassetto, se lo desideri */
    text-align: center; /* Allinea il testo al centro */
    margin-bottom: 20px; /* Aggiungi uno spazio in basso al titolo */
}
.modal-body {
    margin: 5px;
    text-align: center;
}
/* Stile per la tabella */
.tabella-utenti {
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 20px; /* Aggiunto margine superiore */
}

/* Stile per le colonne della tabella */
.tabella-utenti th, .tabella-utenti td {
    width: 100px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Stile per le colonne specifiche degli utenti */
.colonneutente {
    height: 40px;
}
.azioni-buttons{
    width: 250px !important;
}
/* Stile per i pulsanti nella colonna "Azioni" */
.azioni-buttons button.modifica {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.azioni-buttons button.modifica:hover {
    background-color: darkorange; /* Colore più scuro al passaggio del mouse */
}
.azioni-buttons button.cancella {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.azioni-buttons button.cancella:hover{
    background-color: #480000;
}
.utente-scelto {
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}
.pulsanti-container {
    display: flex;
    gap: 10px; /* Puoi regolare la distanza tra i bottoni */
}
.bottone-submit {
    background-color: #007bff; /* Colore di sfondo */
    color: #fff; /* Colore del testo */
    padding: 10px 20px; /* Spaziatura interna */
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer;
    font-size: 16px;
}

/* Stile per il bottone "Torna indietro" */
.bottone-indietro {
    background-color: #28a745; /* Colore di sfondo */
    color: #fff; /* Colore del testo */
    padding: 10px 20px; /* Spaziatura interna */
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer;
    text-decoration: none; /* Rimuove il sottolineato del testo */
    font-size: 16px;
}

/* Cambia lo stile quando il mouse passa sopra il bottone */
.bottone-indietro:hover {
    background-color: #218838; /* Cambia il colore di sfondo al passaggio del mouse */
}
/* Stile del menu a tendina */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #0d87c4;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: white;
    color: #0d87c4;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Stile per la freccetta giù */
.dropbtn::after {
    content: '\25BC'; /* Codice Unicode per una freccetta verso sinistra */
    font-size: 14px; /* Dimensione della freccetta */
    margin-left: 5px; /* Margine a sinistra per separare dalla voce del menu */
    transition: transform 0.1s; /* Aggiungi una transizione di 0.3 secondi alla trasformazione */
}

/* Modifica il colore della freccetta quando ci passi sopra */
.dropdown:hover > .dropbtn::after {
    color: black;

}
.dropdown:hover > .dropbtn::after,
.dropdown-content:hover + .dropbtn::after {
    transform: translateY(3px) rotate(180deg); /* Sposta la freccetta verso il basso e ruota di 180 gradi */
}
.dropdown:hover .dropbtn {
    color: black;
}

/* Assicurati che la freccetta venga visualizzata correttamente */

