<!DOCTYPE html>
<html lang="en">
<head>
  <!-- base -->
  <meta charset="utf-8">
  <!-- site metas -->
  <title>Ticket Love</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="Michele Longo">
  <!-- stile css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<!-- body -->
<body class="main-layout">
<!-- header -->

<div th:insert="~{header :: headerpublic}"></div>



<h2 class="tuttcateg" data-component="editorialchoice" data-teaser-category="Tutte le categorie" data-teaser-row="3" data-cid="editorialchoice" data-box="" data-predictor-uuid="" data-predictor-url="">
  Non hai i permessi per accedere alla risorsa

</h2>

<div class="imgcontainerrrrrr" style="margin-bottom: 50px; margin-top: 25px; margin-left: 22%; align-items: center; width: 500px; height: 500px;">
  <img class="immagine" th:src="@{/images/gandalf.png}" alt="" >
</div>




</body>
</html>