<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="headerpublic">


    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo">
            <a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt="#" />
            </a>
        </div>
        <div class="search-box">
            <form>
                <input type ="text" name ="search" id ="srch" placeholder="Cerca Eventi o Artisti...">
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul>
            <li th:switch="'${user.role}'">
                <a th:case="'admin'" th:href="@{/eventi}">Admin eventi</a>
                <a th:case="*" th:href="@{/eventi}">Eventi</a>
            </li>
            <li><a th:href="@{/addevento}">Aggiungi Evento</a></li>
            <li><a th:href="@{/user/index}">Index User</a></li>
            <li><a th:href="@{/faq}">Faq</a></li>
            <li><a href="#">Chi Siamo</a></li>
        </ul>
        <div class="button-log">

            <!-- ----------------Form Log in testing Modal------------------------------------------------------------------->
            <!-- Button to open the modal login form -->
            <button class="btnLI"  onclick="document.getElementById('id01').style.display='block'">Login</button>
            <div id="id01" class="modal">
  						<span onclick="document.getElementById('id01').style.display='none'"
                              class="close" title="Close Modal">&times;</span>

                <!-- Modal Content -->
                <!-- form <form class="modal-content animate" t  h  :  action="@{/login}" method = "post"> -->
                <form class="modal-content animate" method="post" action="/login" >
                    <div class="imgcontainer">
                        <img th:src="@{/images/img_avatar2.png}" alt="Avatar" class="avatar">
                    </div>

                    <div th:if="${param.error}">
                        Invalid username and password.</div>
                    <div th:if="${param.logout}">
                        You have been logged out.</div>

                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <div>
                            <input type="text" id= "username" name="username" placeholder="Username"
                            required="" autofocus="" />
                        </div>


                        <label for="password"><b>Password</b></label>
                        <div>
                            <input type="password" id="password" name="password" placeholder="Password"
                            required="" autofocus="" />
                        </div>
                        <!-- <input type="submit" value="Log in" /> -->

                        <button class="btnLIf" type="submit">Login</button>
                    </div>
                </form>
            </div>


            <!-- The Modal -->



            <!-- Form Log in Fine testing Modal------------------------------------------------------------------------------->
            <button class="btnSU">Sign up</button>
        </div>
        <div class="menu">
            <label for="chk1">
                <i class="fa fa-bars"></i>
            </label>
        </div>
    </header>





</div>

</body>

</html>