<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- base -->
  <meta charset="utf-8">
  <!-- site metas -->
  <title>Ticket Love</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="Michele Longo">
  <!-- stile css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <style>

    legend {
      margin-top: 50px;
      margin-bottom: 30px;
      font-weight: bold; /* Rendi il testo in grassetto */
    }
     form {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
     }

  </style>
</head>
<!-- body -->
<body class="main-layout">
<!-- header -->

<div th:insert="~{header :: headerpublic}"></div>

<div class="container">
  <div th:if="${param.logout}">
    You have been logged out.
  </div>

  <form name="logoutform" th:action="@{/logout}" method="post">
    <fieldset>
      <legend>Sicuro di Proseguire e fare Log out?</legend>


        <button type="submit" class="pulsanteformok" >LOG OUT</button>

    </fieldset>
  </form>

</div>



<div th:insert="~{footer :: foot}"></div>




</body>
</html>